<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="structure" name="filter" />
  <label class="filter-button neumorphism-button" for="structure">Food Micro Structure</label>
  <input type="radio" id="rehydration" name="filter" />
  <label class="filter-button neumorphism-button" for="rehydration">Rehydration Properties</label>
  <input type="radio" id="oxidation" name="filter" />
  <label class="filter-button neumorphism-button" for="oxidation">Lipid Cxidation</label>
  <input type="radio" id="emulsion" name="filter" />
  <label class="filter-button neumorphism-button" for="emulsion">Emulsion Properties</label>

  {% for structure in site.data.skills-structure %}
    <div skill-type="structure" skill-weight="{{structure.weight}}" data-aos="zoom-in">
      {{structure.name}}
    </div>
  {% endfor %}
  {% for rehydration in site.data.skills-rehydration %}
    <div skill-type="rehydration" skill-weight="{{rehydration.weight}}" data-aos="zoom-in">
      {{rehydration.name}}
    </div>
  {% endfor %}
  {% for oxidation in site.data.skills-oxidation %}
    <div skill-type="oxidation" skill-weight="{{oxidation.weight}}" data-aos="zoom-in">
      {{oxidation.name}}
    </div>
  {% endfor %}
  {% for emulsion in site.data.skills-emulsion %}
    <div skill-type="emulsion" skill-weight="{{emulsion.weight}}" data-aos="zoom-in">
      {{emulsion.name}}
    </div>
  {% endfor %}
</div>
